/SQLRepository/bin
/.vs/SQL Repository/
/SQLRepository/Debug/*
/SQLRepository/obj
packages/*
TelegramBotV2/bin/*
TelegramBotV2/bin/Debug/*
TelegramBotV2/wwwroot/lib/
/TelegramBotV2/wwwroot/lib
/TelegramBotV2/bin
/TelegramBotV2/
/TelegramBotV3/
/TelegramBot/
/SQLRepository.Client/obj/
/SQLRepository.Client/bin/
/HttpClientGenerator/HttpClientGenerator/obj/
/HttpClientGenerator/HttpClientGenerator/bin/
/WebVue/obj/
/WebVue/bin/*
/WebVue/ClientApp/dist/
/WebVue/ClientApp/node_modules/
/WebVue/bin/Debug/
/AuthenticationService/AuthenticationService/bin/
/AuthenticationService/AuthenticationService/obj/
